<div class="jumbotron animated fadeIn">
    <h1 class="display-4">Hero app</h1>
    <p class="lead">Esta es una aplicación SPA de Heroes de marvel y DC</p>
    <hr class="my-4">
    <p>Aquí vimos</p>

    <ul class="list-group">
        <li class="list-group-item">Componentes mediante CLI</li>
        <li class="list-group-item">Varias formas de usar bootstrap</li>
        <li class="list-group-item">Eventos de angular</li>
        <li class="list-group-item">Rutas</li>
        <li class="list-group-item">RouterLink</li>
        <li class="list-group-item">Rutas Parametrizadas</li>
        <li class="list-group-item">Servicio(Proveedores)</li>
        <li class="list-group-item">Directivas Estructurales</li>
        <li class="list-group-item">Directiva ngClass</li>

    </ul>

    <hr>

    <a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button">Ir a Home</a>
</div>